.Formholder {
    width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    padding-top: 0;
    background-color: rgb(233, 233, 233);
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.input-section {
    display: flex;
    flex-direction: column;
}

.input-title-text {
    font-size: 20px;
    margin-top: 30px;
}

input[type=text] {
    margin-top: 15px;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
}